@model ForumWebApp.Models.Answer

@{
    ViewData["Title"] = "GiveAnswer";
}

<div class="text-center">
    <h1 class="display-4 heading-font">@ViewData["QuestionTitle"]</h1>
</div>
<hr />
<div class="row">
    <div class="card col-md-4 bg-grey  border-0">
        <img class="card-img-top img-fluid" src="~/q1.png" alt="" style="width:100%">
    </div>
    <div class="col-md-8">
        <form asp-action="GiveAnswer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="QuestionID" value="@ViewData["QuestionID"]" />
            <div class="form-group">
                <label asp-for="AnswerText" class="control-label"></label>
                <textarea asp-for="AnswerText" class="form-control"></textarea>
                <span asp-validation-for="AnswerText" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Submit Your Answer" class="button button-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
