<div class="text-center">
    <h1 class="display-4 heading-font">Reponse From System</h1>
</div>
<hr />
<div class="row">
    <div class="card col-md-4 bg-grey  border-0">
        <img class="card-img-top img-fluid" src="~/q2.png" alt="" style="width:100%">
    </div>
    <div class="col-md-8">
        <h1 class="text-center heading-font">Thanks For Your Valuable Suggestions.</h1>
    </div>
</div>
